.ProductDetails {
  text-align: center;
}

.ProductDetails h3 {
  font-size: 20px;
}

.DetailImage img {
  width: 200px;
  height: 40%;
}

button {
  border-radius: 2px;
  color: white;
  width: 60%;
  height: 30%;
  background-color: gray;
}
